h1 {
  text-align: center;
}

.marker {
  width: 200px;
  height: 25px;
  margin: 10px auto;
}

.one {
  background-color: #1E3A8A; 
}
.two {
  background-color: #2F855A;
}
.three {
  background-color: #D97706;
}