h1 {
  text-align: center;
}

.container {
  background-color: rgb(255,255,255);
  padding: 10px 0;
}

.marker {
  width: 200px;
  height: 25px;
  margin: 10px auto;
}

/* After rgb function, now stated  with hex color values */
.red {
  background: linear-gradient(180deg, rgb(122,74,14) 0%, rgb(0,255,0) 50%, rgb(0,0,255) 100%);
}

.green {
  background-color: #00FF00;
}

.blue {
  background-color: hsl(240,100%,50%);
}

